@model IEnumerable<HRRcp.Areas.ME.Models.CustomModels.Pracownik>
@{
    ViewBag.Title = "Pracownicy";
    int x = 0;
    int count = Model.Count() / 8;
}

<link href="~/Areas/ME/Style/Przyciski.css" rel="stylesheet" />

<div class="row col m12 card" style="padding-left: 10px;">
    <div>
        <ul class="tabs">
            <li class="tab"><a class="active black-text" href="#pracownicyID">Pracownicy</a></li>
            <li class="tab"><a class=" black-text" href="#przypisywanieID">Przypisywanie pracowników</a></li>
            <li class="tab"><a class=" black-text" href="#oddelegowaniaID">Oddelegowania</a></li>
        </ul>
    </div>

    <div id="pracownicyID">


        @for (; x < Model.Count();)
            {
                if (x % 8 == 0)
                {
                <table class="highlight bordered" id="@x">
                    <tr>
                        <th>Pracownik i Nr. Ewid</th>
                        <th>APT</th>
                        <th>Stanowisko i Umowa zatrudnienia</th>
                        <th>Jednostka Macierzysta</th>
                        <th>Ocena</th>
                        <th>Status</th>
                        <th></th>

                    </tr>

                    @foreach (var pracownik in Model)
                    {

                        x = x + 1;
                        if (x % 8 == 0) { break; }
                        

                        <tr>
                            <td>
                                <span style="font-size: 16px;">@pracownik.Imie @pracownik.Nazwisko </span><br />
                                <span class="grey-text">@pracownik.Nr_Ewid</span>
                            </td>
                            <td>
                                <input type="checkbox" id="aptID" disabled="disabled"
                                       @if (pracownik.APT) { <text> checked="checked" </text>     } />

                                <label for="aptID" class="hidden"></label>
                            </td>
                            <td>
                                @pracownik.Stanowisko
                                <br />
                                <span class="grey-text">@pracownik.UmowaZatrudnienia</span>
                            </td>
                            <td>
                                @Html.Raw(pracownik.JednostkaMacierzysta)

                            </td>
                            <td>
                                @pracownik.Ocena
                            </td>
                            <td>
                                @pracownik.Status
                            </td>
                            <td >
                                <button class="btn waves-effect waves-light btn-small przyciskMaly">Oceń</button>
                                <button class="btn waves-effect waves-light btn-small przyciskMaly" style="width: 75px;">Oddeleguj</button>
                                <button class="btn waves-effect waves-light btn-small przyciskMaly edycja modal-trigger" value="@pracownik.Id_Pracownicy" data-target="modal1">Edycja</button>

                            </td>

                        </tr>
                    }
                </table>
            }
        }




        <div id="stronyID">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#0">1</a></li>
                @{
                    int j = 2;
                    for (int i = 8; i < Model.Count(); i++)
                    {
                        if (i % 8 == 0)
                        {
                            <text>
                                <li><a href="#@i">@j</a></li>
                            </text>
                            j++;
                        }
                    }
                }
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        
        </ul>
            </div>
    </div>



    <div id="przypisywanieID">

    </div>

    <div id="oddelegowaniaID"></div>
</div>



@*Modal do edycji*@
<div id="modal1" class="modal" style="height:400px;">

        <div class="modal-content">
            <table class="highlight bordered">
                <tr>
                    <th>Pracownik i Nr. Ewid</th>
                    <th>APT</th>
                    <th>Stanowisko i Umowa zatrudnienia</th>
                    <th>Jednostka Macierzysta</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td id="pracownikModalImie"><br /><span class="grey-text" id="pracownikModalEwid"></span></td>
                    <td id="pracownikModalAPT"><input type="checkbox" id="checkIDD" /><label for="checkIDD" class="hidden"></label></td>
                    <td id="pracownikModalStan"></td>
                    <td id="pracownikModalJedn"></td>
                    <td id="">
                        <div class="input-field col s12">
                            <b><span  id="pracownikModalStatus"></span></b><br />
                            <select id="select">
                                <option selected disabled value="1"></option>
                            </select>
                        </div>
                    </td>

                </tr>
            </table>


        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Anuluj</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Zatwierdź</a>
        </div>

</div>
@*Modal do edycji*@




<script type="text/javascript">
    $(document).ready(function () {

        $('.modal-trigger').leanModal();
        $(".edycja").click(function () {

            $.ajax({
                type: "POST",
                url: "@Url.Action("getDanePracownikaModal")",
                data: '{id: "' + $(this).val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#pracownikModalImie').html(response.Imie + " " + response.Nazwisko + "<br />" +
                        "<span class=\"grey-text\">" + response.Nr_Ewid + "</span>");

                    if (response.APT) {
                        $('#checkIDD').attr("checked", "checked");
                    }

                    $('#pracownikModalStan').html(response.Nazwa_Stan);

                    $('#pracownikModalJedn').html(response.Symb_Jedn + " / " + response.Nadrzedna +
                        "<br /><span class=\"grey-text\">" + response.ImieKierownika + "</span>");

                    $('#pracownikModalStatus').text(response.Nazwa);

                    
                }
                    
                    

                });
        });
        
        @*$('#stronyID').materializePagination({
            
  lastPage: @count,
            
    firstPage: 1,
    onClickCallBack: function () { alert("..");}
            
});*@

        $('select').material_select();
        });

</script>

