@model List<HRRcp.Areas.MVC.Models.MagicMenu1>

@using HRRcp.App_Code;


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<asp:LinkButton ID="lbtLogo" class="navbar-brand" runat="server" OnClick="lbtLogo_Click">
                    <asp:Image ID="imgLogo" runat="server" ImageUrl="~/styles/User/logo.png" />
                </asp:LinkButton>*@           
            <a href="" class="navbar-brand"><img src="~/styles/User/logo.png" /></a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">               
                <li class="sidebar-hide" title="Pokaż lewe menu"><a id="hideSidebar" href="" class="" title="Ukryj boczne menu"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                <li class="hidden sidebar-show" title="Ukryj lewe menu"><a id="showSidebar" href="" class="" title="Pokaż boczne menu"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                <li class="pass-change" title="Zmiana hasła">                    
                    @{ string passChange = VirtualPathUtility.ToAbsolute("~/Portal/PracPassChange.aspx");
                        }
                    <a href="@passChange" id="lbtChangePass"><i class="fa fa-exchange"></i></a>
                </li>
               
                <li title="Wyszukaj...">
                    <input type="hidden" id="controllerName" value="" />
                    <input type="hidden" id="actionName" value="" />                   
                    <input type="text" id="tbSearch" class="search portal-search" placeholder="Wyszukaj..." maxlength="50" />
                    @*<asp:Button ID="btnSearch" runat="server" CssClass="hidden btn-search" OnClick="btnSearch_Click" />*@                  
                    @*<button id="lnkSearch" class="search-icon" onclick="lnkSearch_Click"><i class="glyphicon glyphicon-search"></i></button>*@
                    <a id="btnSearch" class="search-icon" onclick="searchClick();return false;" href=""><i class="glyphicon glyphicon-search"></i> </a>
                </li>
                <li style="padding: 12px 0px;">
                        @foreach (var item in Model)
                        {
                            if (item.MenuText.Equals("LoginList"))
                            {
                                @Html.DropDownList("LoginSelect", item.LogList, new { @class = "form-control ddlLogin", @style = "font-family:inherit;" })

                            }
                        }
                    @*@Html.DropDownList("LoginSelect", ViewBag.Login as SelectList, new { @class = "form-control ddlLogin", @style = "font-family:inherit;" })*@


                </li>
            </ul>
            <input type="hidden" id="groupId" />
            <ul id="rightlist" class="nav navbar-nav navbar-right">
                @{String menuType = null; }
                  @foreach (var item in Model)
                  {
                      if (item.MenuText.Equals("LoginList"))
                      {
                          menuType = item.command;
                      }
                  }
                @foreach (var item in Model)
                {                  
                   

                    if (!item.MenuText.Equals("LoginList"))
                    {
                    @Html.Raw(item._magic);
                        if (@Html.Raw(item.Avis).ToString() == "0")
                        {
                            string tmp = item.command;
                            string id = item.Id.ToString();
                            string url = "";

                            if (!String.IsNullOrEmpty(tmp))
                            {
                                if (Tools.IsUrl(tmp, out url))
                                {
                                    //App.Redirect(url);
                                }
                                else if (tmp.Contains("REPORT"))
                                {
                                    string repId = tmp.Split(':')[1];
                                    string p = Tools.SetLineParams(3, repId, null, null, null, null, null);
                                    string e = Report.EncryptQueryString(p, Grid.key, Grid.salt);
                                    url = VirtualPathUtility.ToAbsolute(String.Format("/Redirect.aspx?p={0}&f={1}", e, "RaportF.aspx"));
                                }
                                bool append = url.Contains("?");
                                url += String.Format("{0}mm={1}", (append ? "&" : "?"), id);
                                url = @VirtualPathUtility.ToAbsolute(url);
                            }

                            String group = menuType;
                            String par = Html.Raw(item.Par2).ToString() + Html.Raw(item.Class);
                            string cssClass = "";
                             if ((par == "START" && group == "STARTFORM")//poprawic
                            //if ((par == "START" && group == "PRAC")
                                 || (par == "PRAC" && group == "PRAC")
                                 || (par == "KIER" && group == "KIER"))
                            //     || (par == "ADM"))
                            {
                                cssClass = " selected";
                            }
                    <a href="@url" class="@cssClass">@Html.Raw(item.MenuText) </a>
                        }

                    @Html.Raw(item._magic2);
                    }
                }


                <li id="liChat" runat="server" visible="false">
                    <button id="lnkChat_" hidden title="Czat.." class="social-bar-opener"><i class="fa fa-comments-o"></i></button>
                </li>
                @*<li id="liLogout" runat="server" style="visibility:hidden" >*@
                    @*<asp:LinkButton ID="lnkLogout_" runat="server" OnClick="lnkLogout_Click" ToolTip="Wyloguj..."><i class="xglyphicon xglyphicon-log-out fa fa-sign-out"></i></asp:LinkButton>*@
                    @*<a href="/MVC/Layout/Logout" ><i title="Wyloguj" class="xglyphicon xglyphicon-log-out fa fa-sign-out"></i> </a>*@
                @*</li>*@
                @*<li id="liAdmin" runat="server" visible="true">*@
                    @*<asp:LinkButton ID="lnkAdmin" runat="server" OnClick="lnkAdmin_Click" ToolTip="Admin"><i class="xglyphicon xglyphicon-log-out fa fa-gear"></i></asp:LinkButton>*@
                    @*<a href=""><i title="Admin" class="xglyphicon xglyphicon-log-out fa fa-gear"></i> </a>*@
                @*</li>*@

            </ul>
        </div>
    </div>
</nav>
<script type="text/javascript">
    prepareMaster();

    $('#hideSidebar').prop("href", "javascript:");
    $('#showSidebar').prop("href", "javascript:");

    //var va = $('#ctl00_hidGroup').val();
    //alert(va);

    $('#rightlist>li>a').on('click', function () {
        //var x = $(this).hasClass("selected");
        //if (!x) {
        //    $(this).addClass("selected");
        //}
    });
    $('#xxxliLogout').on('click', function () {
        //alert("zmiana");
        $('#liLogout').css("visibility", "hidden");
        $.ajax(
            {
                type: "POST",
                    @*url: '@Url.Action("SearchAction", "Layout")',*@
        url: '/MVC/Layout/Logout',
            data: {

        },
        success: function (data) {
            @*window.location.replace('@Url.Action("SearchRedirect", "Layout")' + '?search=' + val + '&action=' + aN + '&controller=' + cN);*@
            window.location.replace('/MVC/Layout/DefaultRedirect');
        }
                });

    });


    $('.ddlLogin').on('change', function () {
        //alert("zmiana");        
        var val = $(this).val();       
        loadList(val);
       
    });

    function loadList(gr, search) {
        var group = gr || '';
         $.ajax(
              {
                type: "POST",
                 @*url: '@Url.Action("LoginAs", "Layout")',*@
                 url: '/MVC/Layout/LoginAs',
                 data: {
                     group: group
                 },
                 success: function (data) {
                     @*window.location.replace('@Url.Action("DefaultRedirect", "Layout")');*@
                     window.location.replace('/MVC/Layout/DefaultRedirect');
                     $('#liLogout').css("visibility", "visible");
                 }
            });
    }

    $('#btnSearch').on('click', function () {
        var val = $('#tbSearch').val();
        var cN = $('#controllerName').val();
        var aN = $('#actionName').val();
        if (val != "") {
            $.ajax(
                {
                    type: "POST",
                    @*url: '@Url.Action("SearchAction", "Layout")',*@
                    url: '/MVC/Layout/SearchAction',
                    data: {
                        search: val
                    },
                    success: function (data) {
                        @*window.location.replace('@Url.Action("SearchRedirect", "Layout")' + '?search=' + val + '&action=' + aN + '&controller=' + cN);*@
                        window.location.replace('/MVC/Layout/SearchRedirect' + '?search=' + val + '&action=' + aN + '&controller=' + cN);
                    }
                });
        }

    });

</script>