@model PagedList.IPagedList<HRRcp.Areas.MVC.Models.Pracownicy>
@using HRRcp.Areas.MVC.Models;
@using System.Collections.Generic;
@using PagedList;
@using PagedList.Mvc;
@using HRRcp.Areas.MVC.Models.customModels;
@using System.Data.SqlClient
@using HRRcp.App_Code

@{
    ViewBag.Title = "Role";
}


<form id="mainForm" class="mui-form" method="post">
    <input type="hidden" name="RoleId" value='@((int)ViewData["RoleId"])' />

    @{
        List<obdFiltrPoleDict> filtrPoleDict = (List<obdFiltrPoleDict>)ViewData["obdFiltrPoleDict"];
        List<obdRoleDict> roleDict = (List<obdRoleDict>)ViewData["obdRoleDict"];

        <legend>Nazwa roli</legend>
        <div class="mui-textfield mui-textfield--float-label">
            <input name="RoleNazwa" value="@ViewData["RoleNazwa"]" type="text">
        </div>
        
        <legend>Parametry</legend>
        <table>
            <tr>
                <td width="20%">
                    @*<div class="mui-col-md-12">
                        <div class="mui-textfield mui-textfield--float-label">
                            <input name="IdSkladajacego" value="@ViewData["IdSkladajacego"]" type="text">
                            <label>IdSkladajacego</label>
                        </div>
                    </div>*@
                    <div class="input-field col s12">
                        <input name="IdSkladajacego" id="IdSkladajacego" type="text" value="@ViewData["IdSkladajacego"]" class="validate">
                        <label for="IdSkladajacego">IdSkladajacego</label>
                    </div>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
        
        <legend>Filtry</legend>
        <table>
            @for(int i=0; i<filtrPoleDict.Count;)
            {
                List<obdFiltrPoleWartosci> filtrPoleWartosci = (List<obdFiltrPoleWartosci>)ViewData["obdFiltrPoleWartosci"];

                    <tr>
                        @for(int i2=0; i2<5 && i<filtrPoleDict.Count; i2++, i++)
                        {
                            obdFiltrPoleDict filtrDict = filtrPoleDict[i];
                            <td width="20%">
                                <div class="mui-col-md-12">
                                    @{
                                        string valueString = "";
                                        if(ViewData[filtrDict.Nazwa] != null)
                                        {
                                            valueString = (string)ViewData[filtrDict.Nazwa];
                                        }
                                    }
                                        
                                    @if(filtrDict.Typ == 1)
                                    {
                                        <div class="input-field col s12">
                                            <input name="@filtrDict.Nazwa" id="@filtrDict.Nazwa.Replace(' ', '_')" type="text" value="@valueString" class="validate">
                                            <label for="@filtrDict.Nazwa">@filtrDict.Nazwa</label>
                                        </div>
                                    }
                                    else if(filtrDict.Typ == 2)
                                    {
                                        <div class="input-field col s12">
                                            <label for="@filtrDict.Nazwa">@filtrDict.Nazwa</label>
                                            <input name="@filtrDict.Nazwa" id="@filtrDict.Nazwa.Replace(' ', '_')" type="text" value="@valueString" class="datepicker">
                                        </div>
                                        <script type="text/javascript">
                                            $('.datepicker').pickadate({
                                                format: 'yyyy-mm-dd',
                                                selectMonths: true,
                                                selectYears: 15,
                                                today: 'Today',
                                                clear: 'Clear',
                                                close: 'Ok',
                                                closeOnSelect: false
                                            });
                                        </script>

                                    }
                                    else if (filtrDict.Typ == 3)
                                    {
                                        <label></label>
                                        <div class="mui-checkbox">
                                            @if(valueString == "1")
                                                {<input class="check-box" id="@filtrDict.Nazwa.Replace(' ', '_')" name="@filtrDict.Nazwa" type="checkbox" checked="checked" value="true">}
                                            else
                                                {<input class="check-box" id="@filtrDict.Nazwa.Replace(' ', '_')" name="@filtrDict.Nazwa" type="checkbox" value="false">}
                                            <label for="@filtrDict.Nazwa">@filtrDict.Nazwa</label>
                                        </div>
                                    }
                                    else if (filtrDict.Typ == 4)
                                    {
                                        List<string> ids = new List<string>();
                                        ids.AddRange(valueString.Split(','));
                                       <div class="row">
                                            <div class="input-field col s12">
                                                <select id="@filtrDict.Nazwa.Replace(' ', '_')" name="@filtrDict.Nazwa" multiple class=" selectmui">
                                                    @foreach (var item in filtrDict.GetDdlItems())
                                                    {
                                                        <option value="@item.Value" @(ids.FindIndex(it => it == @item.Value) >= 0 ? "selected" : "")>@item.Text</option>
                                                    }
                                                </select>
                                                <label for="@filtrDict.Nazwa">@filtrDict.Nazwa</label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </td>
                        }
                    </tr>
            }
        </table>
    }
    <a class="waves-effect waves-light btn green btnpad" onclick="
        document.getElementById('mainForm').submit();
    ">Szukaj</a>
    @{
        string js = "var nodes = null;\n";
        List<obdFiltrPoleDict> filtrPoleDicts = (List<obdFiltrPoleDict>)ViewData["obdFiltrPoleDict"];
        foreach (obdFiltrPoleDict filtrDict in filtrPoleDicts)
        {
            js += string.Format("document.getElementById('{0}').value = '';\n", filtrDict.Nazwa.Replace(' ', '_'));
            if(filtrDict.Typ == 4)
            {
                js += string.Format("$('#{0}').material_select();\n", filtrDict.Nazwa.Replace(' ', '_'));
            }
        }
        js += "\ndocument.getElementById('mainForm').submit();";
    }
    <a class="waves-effect waves-light btn green btnpad" onclick="@js">Czyść</a>

    <a class="waves-effect waves-light btn green btnpad" style="float: right;" onclick="
        document.getElementById('mainForm').action = '@Url.Action("Save", "Role")';
        document.getElementById('mainForm').submit();"
       >Zapisz</a>
    <a class="waves-effect waves-light btn green btnpad" style="float: right;" onclick="
        location.href='@Url.Action("Index", "obdRoleDicts")';
    ">Anuluj</a>

    
    <a class="waves-effect waves-light btn green btnpad" style="float: right;" onclick="
        document.getElementById('mainForm').action = '@(Url.Action("Delete", "Role") + string.Format("?IdRoli={0}", ViewData["RoleId"]))';
        document.getElementById('mainForm').submit();"
       >deletetest</a>

    <h2>Pracownicy</h2>
    <table class="striped bordered">
        <tr>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Numer ewid.
            </th>
            <th>
                Zatrudniony
            </th>
            <th>
                Zwolniony
            </th>
            <th>
                Wymiar czasu pracy
            </th>
            <th>
                Stanowisko
            </th>
        </tr>

        @foreach (Pracownicy item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwisko)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KadryId)
                </td>
                <td>
                    @(item.DataZatr.HasValue ? item.DataZatr.Value.ToString("yyyy-MM-dd") : "")
                </td>
                <td>
                    @(item.DataZwol.HasValue ? item.DataZwol.Value.ToString("yyyy-MM-dd") : "")
                </td>
                @{
            ObiegDokumentow ob = new ObiegDokumentow();
            string etat = ob.Database.SqlQuery<string>("select CONVERT(nvarchar(10), EtatL) + '/' + CONVERT(nvarchar(10), EtatM) from DM_HR_DB..Pracownicy pr where pr.Id = @Id", new SqlParameter("Id", item.Id)).ToArray()[0];
            <td>@etat</td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.AktualneStanowisko)
                </td>

            </tr>
        }
    </table>


    <br />
    @String.Format("Strona {0} z {1}", (Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), Model.PageCount)
    
    @*<ul class="pagination btnpad">
        <li class="disabled btnpad"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active btnpad"><a href="#!">1</a></li>
        <li class="waves-effect btnpad"><a href="#!">2</a></li>
        <li class="waves-effect btnpad"><a href="#!">3</a></li>
        <li class="waves-effect btnpad"><a href="#!">4</a></li>
        <li class="waves-effect btnpad"><a href="#!">5</a></li>
        <li class="waves-effect btnpad"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>*@

    <div class="mvcPagination">
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page,
        RoleId = ViewData["RoleId"] }))
    </div>



    <br />


</form>

@*@Html.ShowModal("", "EdytujUwagiModal", "Role","", new { id = 1, CommentTextValue = "11" }, new { @class = "glyphicon glyphicon-euro icon-green", href = "#", title = L.p("Aktualny stan Twojego kredytu kupieckiego") });*@

<script type="text/javascript">
    $(function () {
        $('.selectmui').material_select();
    })
</script>



