@model HRRcp.Areas.MVC.Models.obdPolaDict

@{
    ViewBag.Title = "Delete";
}

<h2></h2>

<h3>Czy napewno chesz usunąć słownik?</h3>
<div>
    <h4>USUWANIE SŁOWNIKA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DozwoloneZnaki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DozwoloneZnaki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDlugosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDlugosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinDlugosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinDlugosc)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="mui-group">
            <div class="mui-row">
                <div class="mui-col-md-4">
                    <input type="submit" value="Usuń" class="mui-btn mui-btn--small mui-btn--danger" />
                </div>
            </div>
        </div>
    
    }

    <div>
        @Html.ActionLink("Powrót", "Index")
    </div>
</div>
