@model HRRcp.Areas.MVC.Models.obdPolaDict

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>obdPolaDict</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DozwoloneZnaki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DozwoloneZnaki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDlugosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDlugosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinDlugosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinDlugosc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
