@model HRRcp.Areas.MVC.Models.obdPolaDict

@{
    ViewBag.Title = "Edit";
}

<h2>Edycja</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>EDYCJA SŁOWNIKA</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="mui-row">
            <div class="mui-col-md-4">
                <div class="mui-form">
                    <div class="mui-textfield mui-textfield--float-label">

                        @Html.EditorFor(model => model.Nazwa, new { htmlAttributes = new { @class = "" } })
                        @Html.LabelFor(model => model.Nazwa, htmlAttributes: new { @class = "" })
                        @Html.ValidationMessageFor(model => model.Nazwa, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <div class="mui-checkbox">
                    @Html.EditorFor(model => model.DozwoloneZnaki)
                    @Html.LabelFor(model => model.DozwoloneZnaki, htmlAttributes: new { @class = "" })
                    @Html.ValidationMessageFor(model => model.DozwoloneZnaki, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <div class="mui-checkbox">
                    @Html.EditorFor(model => model.MaxDlugosc)
                    @Html.LabelFor(model => model.MaxDlugosc, htmlAttributes: new { @class = "" })
                    @Html.ValidationMessageFor(model => model.MaxDlugosc, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <div class="mui-checkbox">
                    @Html.EditorFor(model => model.MinDlugosc)
                    @Html.LabelFor(model => model.MinDlugosc, htmlAttributes: new { @class = "" })
                    @Html.ValidationMessageFor(model => model.MinDlugosc, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="mui-group">
            <div class="mui-row">
                <div class="mui-col-md-4">
                    <input type="submit" value="Zapisz" class="mui-btn mui-btn--small mui-btn--primary" />
                </div>
            </div>
        </div>
    </div>
}

        <div>
            @Html.ActionLink("Powrót", "Index")
        </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
