@model HRRcp.Areas.MVC.Models.dicUprawnienia

@{
    Layout = "~/Areas/MVC/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body class="dicUprawnienia">
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            
            <h4><a class="gray"><i class="material-icons">arrow_forward</i></a> Tworzenie nowego uprawnienia</h4>
            <hr />
            <div class="row">
                <form class="col s8">
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                    <div class="row">
                        <div class="input-field col s4">

                            @Html.EditorFor(model => model.Nazwa, new { htmlAttributes = new { @class = "validate" } })
                            @Html.LabelFor(model => model.Nazwa, htmlAttributes: new { @class = "" })
                            @*@Html.ValidationMessageFor(model => model.Nazwa, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s8">
                            @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "validate" } })
                            @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "" })
                            @*@Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input type="submit" value="Utwórz" class="waves-effect waves-light btn blue btnpad" />
                        </div>
                    </div>
                </form>
            </div>
            </div>
           

            }

            <div>
                @Html.ActionLink("Powrót", "Index", new { }, new {@class= "backtoPage" })
                @*<a href="@Url.Action("Index", "dicUprawnienia")">
                    <i class="material-icons backtoPage btn-floating disabled">keyboard_backspace</i>
                </a>*@
            </div>
</body>
</html>
