@using HRRcp.Areas.MVC.Models;
@using System.Collections.Generic;
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MVC/Views/Shared/_Layout.cshtml";
    //Layout = null;
}


@*<script type="text/javascript" src="~/styles/jQuery/js/jquery-2.1.4.min.js"></script>
<script src="~/scripts/materialize/materialize.min.js"></script>
<link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />*@ 

@foreach (obdKrokiDict krokDict in ViewBag.krokiDict)
{
    <div class="col s12 m6 row z-depth-1" style="max-width: 60%; position: relative; padding-bottom: 10px; left: 20%; ">
        <nav>
            <div style="padding-left: 10px;" class=" nav-wrapper">
                <a class="brand-logo left">@krokDict.Opis</a>
            </div>
        </nav>
        <div style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px; padding-top: 10px; ">
            <div class="col s12">
                <select class="browser-default">
                    @foreach (SelectListItem listItem in ViewBag.ddlItems)
                        {<option value="@listItem.Value" @(krokDict.IdRoliDict.ToString() == listItem.Value ? "selected" : "")>@listItem.Text</option>}
                </select>
            </div>
                <br />
            <br />
                <div class="input-field col s12">
                    <input id="maxRej" type="text" value="@krokDict.MaxRej" class="validate">
                    <label for="maxRej">Maksymalna ilość odrzuceń</label>
                </div>
            <br /><br /><br />
                <div class="input-field col s12">
                    <input id="minAcc" type="text" value="@krokDict.MinAcc" class="validate">
                    <label for="minAcc">Minimalna ilość akceptacji</label>
                </div>
        </div>

        @*<div class="fixed-action-btn horizontal">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
            </ul>
        </div>*@
    </div>
          @*<div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>*@
            
}

@*<div class="input-field col s12">
    <select id="ddl" multiple>
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
    </select>
    <label>Materialize Multiple Select</label>
</div>

<script>
   
        $('#ddl').material_select();
    </script>*@

@*<form action="#">
    <div class="input-field col s12">
        <select multiple>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
        <label>Materialize Multiple Select</label>
    </div>
</form> 

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>*@